@use "../../../../assets/styles/mixins.scss" as mixin;

.field{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
    padding: 1rem;
    .input{
        @include mixin.input-style();
    }

    .error {
        @include mixin.error-style();
    }
    
    label {
        @include mixin.label-style();
    }
}
