@use "../../../../assets/styles/mixins.scss" as mixin;

.navigation{
    padding: 1rem;
    display: flex;
    justify-content: space-between;

    button {
        @include mixin.button-style();
    }
}