@use "../../../../assets/styles/mixins.scss" as mixin;

.step3{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: justify;
    padding: 1rem;

    label {
        @include mixin.label-style();
    }

    .radio-group {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        margin-top: 0.5rem;
    }

    .error {
        @include mixin.error-style();
    }

    .select {
        @include mixin.select-style();
    }
}
