$bg-color: linear-gradient(90deg,rgba(42, 123, 155, 1) 0%, rgba(87, 199, 133, 1) 100%, rgba(83, 237, 127, 1) 100%);

$text-color: rgb(35, 35, 35);
$secondary-text-color: #585656;

$btn-color: #2D6BED;
$btn-color-hover: #112e6c;

$border-color: #1F242F;

$error-color: #FF4C4C;
