$bg-color: linear-gradient(90deg,rgba(61, 182, 225, 1) 0%, rgba(87, 199, 133, 1) 50%, rgba(113, 225, 146, 1) 100%);

$text-color: rgb(35, 35, 35);
$secondary-text-color: #585656;
$btn-text-color: white;

$input-active: #2d5ded;

$btn-color: #4B3695;
$btn-color-hover: #34296D;

$border-color: #1F242F;

$error-color: #FF4C4C;

