body{
    background-image: url("../../assets/backgrounds/backg-exercise3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    align-items: center;
    display: flex;
    min-height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 50vw;
    height: 60vh;
    border-radius: 10px;
    justify-content: center;
    padding: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
